body {
  background-color: #ebeff5;
}

h1 {
  color: #064766;
   font-family: Georgia, Times, "Times New Roman", serif;
}

h2 {
  color: #064766;
   font-family: Georgia, Times, "Times New Roman", serif;
   font-size: 24px;
}

p {
  font-family: garamond;
  font-size: 20px;
}

/* unvisited link */
a:link {
  color: #064766;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #064766;
  text-decoration: none;
}

#nav{
  font-size: 20px;
}

#top{
  font-size: 20px;
  padding-top: 50px;
  padding-left: 200px;
}

#button {
  color: #064766;
   font-family: Georgia, Times, "Times New Roman", serif;
   text-align: center;
}

#brick {
  background-color: #D0D6DF;
}

#table {
  background-color: #9bbda1;
  border-radius: 30px;
  border-color: #496e50;
  height: 60vh;
  width: 60vw;
  border-style: solid;
  border-spacing: 25px;
  margin-left: 17vw;
  margin-top: 10px;

}

.click-me1 {
  margin-top: 3vh;
  color: #2c4a31;
}
.click-me2 {
  margin-top: 3vh;
  color: #2c4a31;
}
.reset{
  color: #2c4a31;
}
#result {
  color: #2c4a31;
  margin-top: 45vh;
}

#card{
  background-color: #e3e3e3;
  border-style: solid;
  border-radius: 15px;
  border-color: #8e959c;
  height: 300px;
  width:180px;
  float: left;
  text-align: center;
  margin-left: 23vw;
  margin-top: 10vh;
}
