body {
  background-color: #ebeff5;
}

h1 {
  color: #064766;
   font-family: Georgia, Times, "Times New Roman", serif;
}

h2 {
  color: #064766;
   font-family: Georgia, Times, "Times New Roman", serif;
   font-size: 24px;
}

p {
  font-family: garamond;
  font-size: 20px;
}

/* unvisited link */
a:link {
  color: #064766;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #064766;
  text-decoration: none;
}

#nav{
  font-size: 20px;
}

#top{
  font-size: 20px;
  padding-top: 50px;
  padding-left: 200px;
}

#button {
  color: #064766;
   font-family: Georgia, Times, "Times New Roman", serif;
   text-align: center;
}
